<form action="/leon_shortener/create" method="POST">
  <div class="input-group">
     <input type="text" placeholder="輸入網址..." name="originurl" required>
     <button type="submit">Shorten</button>
  </div>
</form>
